img{width: 320px; height: 320px; position: relative;}
div{background-color: rgb(50, 174, 205); color: white; font-style: normal; font-weight: bolder; padding: 25px; margin: 0px; text-align: center;}
.menu-item{color: white;}
h3{color: tomato;}
body{background-color: rgb(64, 224, 117);}